# Node modules
node_modules/

# Build output
dist/

# System files
.DS_Store

# IntelliJ IDEA project files
.idea/
*.iml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# VSCode settings (falls du mal VSCode nutzt)
.vscode/

# Mac spezifische Dateien
Thumbs.db
